.imageModal {
  & .cropArea {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px auto;
  }
}

.imageModal .dropzone {
  width: 80%;
  height: 150px;
  margin: 30px auto 50px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 3px #00223E dashed;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: rgba(0, 102, 185, 0.05);
  }

  &.dragOver {
    background-color: rgba(0, 102, 185, 0.05);
  }

  & p {
    text-align: center;
    font-weight: 600;
    color: #00223E;
  }

  & .icon {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    fill: #00223E;
  }

  & .progressBar {
    width: 80%;
    margin: 10px auto;
  }
}

.toast {
  text-align: center;
  background-color: #00223E;
}

.toastError {
  text-align: center;
  background-color: #c23333;
}