.appArea {
  display: grid;
  flex: 1;
  margin: 20px;

  grid-template-columns: 3.5fr 20px 1.5fr;
}

.profileContainer {
  flex: 1;
  display: flex;
  flex-direction: column;

  font-family: 'Montserrat', sans-serif;
  background: white;
}

.profileContainer .userInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  & h3 {
    color: #c7c7c7;
    font-size: 12px;
    text-transform: uppercase;
  }

  & span {
    font-weight: 600;
    color: #00223E;
  }

  & p {
    margin: 15px 0 0;
    font-size: 16px;
  }

  & button {
    width: 100%;
    height: 50px;
    margin: 0;
  
    font-size: 18px;
  
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    background-color: #00223E;
  }

  & .icon {
    width: 18px;
    height: 18px;
    margin: auto;
    margin-right: 0;
    fill: #00223E;
    cursor: pointer;
  }
}

.profileContainer .userInfo .imageUploaderContainer {
  max-width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  background-color: #dddddd;

  & .profilePicture {
    width: 300px;
    height: 300px;
  }
}

.profileContainer .userInfo .userDetails {
  display: flex;
  flex-direction: column;
  margin-left: 60px;

  & h2 {
    margin: 0;
    color: #00223E;
    font-size: 30px;
  }

  & .userType {
    margin-top: 5px;
  }
}

.profileContainer .userInfo .userDetails .userData {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.profileContainer .userInfo .userDetails .userDataColumn {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  margin-top: auto;

  & .icon {
    margin: auto auto auto 20px;
    padding-bottom: 3px;
  }

  & .title {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }

  & .fields {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    justify-content: space-between;
    text-align: left;
  }

  & .bioFields {
    height: 100%;
    display: block;
  }

  & button {
    margin-top: auto;
  }
}

.profileContainer .roomList {
  height: 150px;
  margin: auto   20px 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  background: #f7f7f7;
  grid-column-start: 1;
  grid-column-end: 3;
}

.profileContainer .roomList .addRoomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #00223E;

  & .addIcon {
    width: 40px;
    height: 40px;
    fill: white;
  }

  & p {
    margin-bottom: 0;
    color: white;
  }
}