.progressBar {
  margin: 0 auto;
  padding: 0;
}

.progressBar .progress {
  height: 6px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  background: -webkit-linear-gradient(left, #00223E 100px, #FFA17F 600px);
  background: linear-gradient(to right, #00223E 0px, #FFA17F 600px);
}